body {
	padding: 3rem 0;
}

.vertical-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, calc(-50% - 1.75rem));
}

.list-group-item {
	overflow: scroll;
}

#errors { border: 0; padding: 10px; width: 90%; margin-right: .5%; color: red; }
